.tags {
    border-bottom: 1px solid #F8F8F8;
    padding: 24px 8px;
}

.tag {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: gray;
    margin: 4px 4px 0 0;
    padding: 5px 10px;
}

.tag:hover {
    background-color: #F8F8F8;
    cursor: pointer;
}