.header {
    background-color: white;
    box-shadow: 4px 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 2px;
    padding: 4px;
    border: 1px solid #F8F8F8;
    margin: 0 0 32px 0;
}

.logo {
    height: 75px;
    width: 150px;
}